html, body {
  background-color: #CABBAA;
}

.welc {
  color: #D1E4E8;
  text-align: center;
  font-family: "Lexend Deca";
}

.caption {
  color: white;
  text-align: center;
}

.welc1 {
  color: #EDEDDF;
  text-align: center;
}

.welc2 {
  font-size: 20px;
  color: #D1E4E8;
  text-align: center;
}

.footer {
  text-align: center;
  padding: 4px;
  padding-top: 2px;
  margin: auto;
  background-color: #746055;
  color: #CABBAA;
  width: 100%;
}

.bartext {
  text-align: center;
  color: #CABBAA;
  font-size: 20px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 13px;
  overflow: hidden;
  background-color: #746055;
  display: flex;
  justify-content: center;
  flex-direction: row;
}


li a.nav-link:hover:not(.active) {
  background-color: #D1E4E8 ;
}

.nav-tab {
  float: left;
}

.navlink:active {
  background-color: #EDEDDF;
  color: #CABBAA;
}

a {
  color: #CABBAA;
}

.active:hover {
color: #746055;
}

.nav-link {
  color: #CABBAA;
}

.nav-link:hover {
  color: #746055;
}

.first {
  background: #746055;
  padding: 20px; 
  width: 450px;
  height: 385px;
  border-radius: 15px;
  box-shadow: #EDEDDF 5px 10px;
}

#first {
  background: #746055;
  padding: 20px; 
  width: 450px;
  height: 385px;
  border-radius: 15px;
  box-shadow: #EDEDDF 5px 10px;
}

.button {
  background-color: #CABBAA;
  border: 2px solid #746055;
  border-radius: 30px;
  box-shadow: #746055 4px 4px 0 0;
  color: #746055;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #EDEDDF;
}

.button:active {
  box-shadow: #746055 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

#b1 {
  background: #746055;
  padding: 30px; 
  width: 300px;
  height: 250px; 
  text-align: center;
  margin: auto;
  border-radius: 15px;
  box-shadow: #EDEDDF 5px 10px;
  color: #D1E4E8;
}

.a2 {
  background: #746055;
  padding: 30px; 
  width: 450px;
  height: 430px; 
  margin: auto;
  border-radius: 15px;
  box-shadow: #EDEDDF 5px 10px;
  list-style-type: circle;
  color: #D1E4E8; 
}

i {
  display: inline-block;
  color: #CABBAA;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #746055;
    padding: 13px;
}

.topnav a {
  float: left;
  color: #CABBAA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #D1E4E8;
  color: #746055;
}

.topnav-centered a:hover {
  background-color: #746055;
  color: #D1E4E8;
}

.topnav a.active {
  background-color: #EDEDDF ;
  color: #CABBAA;
}

.topnav-right {
  float: right;
 justify-content: center;
}

.welc1 {
  color: #D1E4E8;
  text-align: center;
  float: none;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav {
  position: relative;
  overflow: hidden;
  background-color:#746055;
}



.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
  text-align: center;
  padding: 10px;
}

.carousel-item:active {
  color:#746055;
}

.testimonials {
  padding: 40px 0;
  color: #D1E4E8;
  text-align: center;
}

.innner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}

.testimonial {
  background: #746055;
  border-radius: 15px;
  padding: 30px;
}

.testimonial img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.name {
  margin: 20px 0;
}

.stars {
  margin-bottom: 20px;
}

.container {
  width: 400px;
  background: #746055;
  padding: 20px 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container .star2 input {
  display: none;
}

.star2 label{
  font-size: 15px;
  padding: 10px;
  transition: all 0.2s ease;
  color:#CABBAA;
  justify-content: center;
  margin-bottom: 20px;
  float: right;
}

.star2 input:not(:checked) ~ label:hover {
  color: #D1E4E8;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
  color:#EDEDDF;
}

input:checked ~ label {
  color: #EDEDDF;
}

input#rate-5:checked ~ label {
  color: #EDEDDF;
  text-shadow: 0 0 20px #EDEDDF;
}
input#rate-4:checked ~ label {
  color: #EDEDDF;
  text-shadow: 0 0 20px #EDEDDF;
}
input#rate-3:checked ~ label {
  color: #EDEDDF;
  text-shadow: 0 0 20px #EDEDDF;
}
input#rate-2:checked ~ label {
  color: #EDEDDF;
  text-shadow: 0 0 20px #EDEDDF;
}
input#rate-1:checked ~ label {
  color: #EDEDDF;
  text-shadow: 0 0 20px #EDEDDF;
}

form .textarea {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

form .textarea textarea {
  height: 100%;
  width: 100%;
  outline: none;
  background: #CABBAA;
  padding: 10px;
  font-size: 17px;
  resize: none;
}

form .btn {
  height: 45px;
  width: 100%;
  margin: 15px 0; 
}

form .btn button {
  height: 100%;
  width: 100%; 
  outline: none;
  background: #CABBAA;
  color: #746055;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

form .btn button:hover {
  background: #EDEDDF;
}



